.page{
   font-family: PT Mono, monospace; 
}

.page-one{
    background: #f8f8f8;
    position: relative;
    height: 100vh
}   

.page-two{
    background: #fff;
}   

.footer{
    height: 80px;
    background: #f8f8f8;
    border-top: 1px solid #eaeaea;
}   

.footer p{
    font-size: 18px;
}   

