.page{
   font-family: PT Mono, monospace; 
}

.page-one{
    background: #f8f8f8;
    position: relative;
    min-height: 100vh;
    display: flex;
    padding-bottom: 30px;
}   

.page-two{
    display: flex;
    background: #fff;
}   

.page-three{
    display: flex;
    background: #f8f8f8;
}   

.footer{
    height: 80px;
    background: #f8f8f8;
    border-top: 1px solid #eaeaea;
}   

.footer p{
    font-size: 18px;
}   



